.inputbgsuccess {
    background-color: rgb(123, 203, 123);
}

.inputbgfail {
    background-color: rgb(188, 114, 114);
}

.inputbgfade {
    transition: .5s;
    background-color: white;
}

.arrow-toggle .bi-chevron-compact-up,
.arrow-toggle.collapsed .bi-chevron-compact-down {
    display: inline-block;
}

.arrow-toggle .bi-chevron-compact-up,
.arrow-toggle.collapsed .bi-chevron-compact-down:hover {
    color: gold;
}

.arrow-toggle.collapsed .bi-chevron-compact-up,
.arrow-toggle .bi-chevron-compact-down {
    display: none;
}