{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.title.label }}
                </div>
                <div class="col">
                    {{ form.title(size=36, class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.client.label }}
                </div>
                <div class="col">
                    {{ form.client(size=36, class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.category.label }}
                </div>
                <div class="col">
                    {{ form.category(size=36, class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.start.label }}
                </div>
                <div class="col">
                    {{ form.start(class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.end.label }}
                </div>
                <div class="col">
                    {{ form.end(class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.engagement_template.label }}
                </div>
                <div class="col">
                    {{ form.engagement_template(class='form-control') }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    {{ form.notes.label }}
                </div>
                <div class="col">
                    {{ form.notes(class='form-control', rows=5, style="min-width: 100%") }}
                </div>
            </div>
            <p>{{ form.submit(class="btn btn-success") }}</p>
        </form>
    </div>
    </div>
</div>

{% endblock %}