{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h5 class="card-title">Title:</h5>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ template.title }}" data-uuid="{{ template.uuid }}" onblur="edit_engagement(this, 'EngagementTemplate', 'title')">
                        </div>
                    </div>

                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Client:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ template.client }}" data-uuid="{{ template.uuid }}" onblur="edit_engagement(this, 'EngagementTemplate', 'client')">
                        </div>
                    </div>
                    
                    <hr>

                    <div id="tasklist_container" class="ms-4">
                    <h5 class="text-decoration-underline mb-3">Tasklists</h5>
                    {% for tasklist in template.tasklist_templates %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <div class="row mb-1 align-items-center">
                                    <div class="col-2">
                                        <h6 class="card-subtitle text-muted">Tasklist title:</h6>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" value="{{ tasklist.title }}" data-uuid="{{ tasklist.uuid }}" onblur="edit_engagement(this, 'TasklistTemplate', 'title')">
                                    </div>
                                </div>

                                <div id="task-container" class="ms-4 mb-2">
                                <h5 class="text-decoration-underline mb-3">Tasks</h5>
                                    {% for task in tasklist.task_templates %}
                                        <div class="card bg-dark">
                                            <div class="card-body">
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Title</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" value="{{ task.title }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'TaskTemplate', 'title')">
                                                    </div>
                                                </div>
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Notes</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" value="{{ task.notes }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'TaskTemplate', 'notes')">
                                                    </div>
                                                </div>
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Offset days</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="number" value="{{ task.days_to_complete }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'TaskTemplate', 'days_to_complete')">
                                                    </div>
                                                </div>
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Offset point</h6>
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-select" data-uuid="{{ task.uuid }}" onchange="edit_engagement(this, 'TaskTemplate', 'offset')">
                                                            <option value="start" {% if task.offset == 'start'%}selected{% endif %}>Start date</option>
                                                            <option value="end" {% if task.offset == 'end'%}selected{% endif %}>End date</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <a class="text-muted arrow-toggle collapsed" data-bs-toggle="collapse" href="#footer-collapse-{{ task.uuid }}" aria-expanded="false" aria-controls="footer-collapse-{{ task.uuid }}">
                                                    <i class="bi bi-chevron-compact-down" aria-hidden="true"></i>
                                                    <i class="bi bi-chevron-compact-up" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div id="footer-collapse-{{ task.uuid }}" class="collapse">
                                                <div class="card-footer text-center">
                                                    <button class="btn btn-danger" data-uuid="{{ task.uuid }}" onclick="remove_model(this, 'TaskTemplate')"><i class="bi bi-x-square"></i> Remove task</button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <a class="text-danger" data-bs-toggle="collapse" href="#add_task_form_collapse_{{ tasklist.uuid }}" aria-expanded="false" aria-controls="add_task_form_collapse_{{ tasklist.uuid }}">Add task</a>
                                    <div class="collapse" id="add_task_form_collapse_{{ tasklist.uuid }}">
                                        <div class="card card-body mt-2 bg-dark text-muted">

                                            <form action="{{ url_for('add_task_template', uuid=tasklist.uuid) }}" method="post" novalidate>
                                                {{ add_task_form.hidden_tag() }}
                                                <div class="row mb-1  align-items-center">
                                                    <div class="col-2">
                                                        {{ add_task_form.title.label }}
                                                    </div>
                                                    <div class="col">
                                                        {{ add_task_form.title(size=36, class='form-control') }}
                                                    </div>
                                                </div>

                                                <div class="row mb-1  align-items-center">
                                                    <div class="col-2">
                                                        {{ add_task_form.notes.label }}
                                                    </div>
                                                    <div class="col">
                                                        {{ add_task_form.notes(class='form-control', rows=1, style="min-width: 100%") }}
                                                    </div>
                                                </div>

                                                <div class="row mb-1  align-items-center">
                                                    <div class="col-2">
                                                        {{ add_task_form.days_to_complete.label }}
                                                    </div>
                                                    <div class="col">
                                                        {{ add_task_form.days_to_complete(class='form-control') }}
                                                    </div>
                                                </div>

                                                <div class="row mb-1  align-items-center">
                                                    <div class="col-2">
                                                        {{ add_task_form.deadline_offset.label }}
                                                    </div>
                                                    <div class="col">
                                                        {{ add_task_form.deadline_offset(class='form-control') }}
                                                    </div>
                                                </div>
                                                
                                                <div class="d-grid gap-2 mt-2">
                                                    {{ add_task_form.submit(class="btn btn-success btn-lg bg-gradient") }}
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="text-muted arrow-toggle collapsed" data-bs-toggle="collapse" href="#footer-collapse-{{ tasklist.uuid }}" aria-expanded="false" aria-controls="footer-collapse-{{ tasklist.uuid }}">
                                    <i class="bi bi-chevron-compact-down" aria-hidden="true"></i>
                                    <i class="bi bi-chevron-compact-up" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="footer-collapse-{{ tasklist.uuid }}" class="collapse">
                                <div class="card-footer text-center">
                                    <button class="btn btn-danger" data-uuid="{{ tasklist.uuid }}" onclick="remove_model(this, 'TasklistTemplate')"><i class="bi bi-x-square"></i> Remove tasklist</button>
                                </div>
                            </div>
                        </div>
                    <hr>

                    {% endfor %}
                    </div>
                    <a class="text-danger" data-bs-toggle="collapse" href="#add_tasklist_form_collapse" aria-expanded="false" aria-controls="add_tasklist_form_collapse">Add tasklist</a>
                    <div class="collapse" id="add_tasklist_form_collapse">
                        <div class="card card-body mt-2 bg-dark text-muted">
                            <form action="{{ url_for('add_tasklist_template', uuid=template.uuid) }}" method="post" novalidate>
                                {{ add_tasklist_form.hidden_tag() }}
                                <div class="row mb-1 align-items-center">
                                    <div class="col-2">
                                        {{ add_tasklist_form.title.label }}
                                    </div>
                                    <div class="col">
                                        {{ add_tasklist_form.title(size=36, class_='form-control', autocomplete="off") }}
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mt-2">
                                    {{ add_tasklist_form.submit(class="btn btn-success btn-lg bg-gradient") }}
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <a class="btn btn-danger" href="{{ url_for('remove_template', uuid=template.uuid) }}">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}