{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="progress mb-2" style="height: 5px">
                        {% set complete_perc = engagement.completed_percentage() %}
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ complete_perc }}%" aria-valuenow="{{ complete_perc }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h5 class="card-title">Title:</h5>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ engagement.title }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'title')">
                        </div>
                    </div>

                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Client:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ engagement.client }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'client')">
                        </div>
                    </div>

                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Start:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" value="{{ engagement.start }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'start')">
                        </div>
                    </div>

                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">End:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" value="{{ engagement.end }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'end')">
                        </div>
                    </div>

                    <div class="row mb-1 align-items-center">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Notes:</h6>
                        </div>
                        <div class="col">
                            <textarea class="form-control" rows="3" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'notes')">{{ engagement.notes }}</textarea>
                        </div>
                    </div>
                     
                    <span class="badge bg-info text-dark">{{ engagement.category }}</span>
                    
                    <hr>

                    <div id="tasklist_container" class="ms-4">
                    <h5 class="text-decoration-underline mb-3">Tasklists</h5>
                    {% for tasklist in engagement.tasklists %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <div class="row mb-1 align-items-center">
                                    <div class="col-2">
                                        <h6 class="card-subtitle text-muted">Tasklist title:</h6>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" value="{{ tasklist.title }}" data-uuid="{{ tasklist.uuid }}" onblur="edit_engagement(this, 'Tasklist', 'title')">
                                    </div>
                                </div>
                                <div class="row mb-1 align-items-center">
                                    <div class="col-2">
                                        <h6 class="card-subtitle text-muted">Tasklist notes:</h6>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" value="{{ tasklist.notes }}" data-uuid="{{ tasklist.uuid }}" onblur="edit_engagement(this, 'Tasklist', 'notes')">
                                    </div>
                                </div>

                                <div id="task-container" class="ms-4 mb-2">
                                <h5 class="text-decoration-underline mb-3">Tasks</h5>
                                    {% for task in tasklist.tasks %}
                                        <div class="card bg-warning">
                                            <div class="card-body">
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Task title:</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" value="{{ task.title }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'Task', 'title')">
                                                    </div>
                                                </div>
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Task notes:</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="text" value="{{ task.notes }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'Task', 'notes')">
                                                    </div>
                                                </div>
                                                <div class="row mb-1 align-items-center">
                                                    <div class="col-2">
                                                        <h6 class="card-subtitle text-muted">Task deadline:</h6>
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control" type="date" value="{{ task.deadline }}" data-uuid="{{ task.uuid }}" onblur="edit_engagement(this, 'Task', 'deadline')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <a class="text-danger" href="{{ url_for('add_task', uuid=tasklist.uuid) }}">Add task</a>
                                </div>
                            </div>
                        </div>
                    <hr>
                    {% endfor %}
                    </div>
                    <a class="text-danger" href="{{ url_for('add_tasklist', uuid=engagement.uuid) }}">Add tasklist</a>

                </div>
                <div class="card-footer">
                    {% if engagement.category == "archived" %}
                        <a class="btn btn-success" data-uuid="{{ engagement.uuid }}" onclick="archive_engagement(this, '')">Un-archive</a>
                    {% else %}
                        <a class="btn btn-warning" data-uuid="{{ engagement.uuid }}" onclick="archive_engagement(this)">Archive</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}