{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="progress mb-2" style="height: 5px">
                        {% set complete_perc = engagement.completed_percentage() %}
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ complete_perc }}%" aria-valuenow="{{ complete_perc }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5 class="card-title">Title:</h5>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ engagement.title }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'title')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Client:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" value="{{ engagement.client }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'client')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Start:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" value="{{ engagement.start }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'start')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">End:</h6>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" value="{{ engagement.end }}" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'end')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">Notes:</h6>
                        </div>
                        <div class="col">
                            <textarea class="form-control" rows="3" data-uuid="{{ engagement.uuid }}" onblur="edit_engagement(this, 'Engagement', 'notes')">{{ engagement.notes }}</textarea>
                        </div>
                    </div>
                     
                    <span class="badge bg-info text-dark">{{ engagement.category }}</span>
                    
                    <hr>

                    {% for tasklist in engagement.tasklists %}
                        <h6 class="text-decoration-underline card-subtitle mb-2">{{ tasklist.title }}</h6>

                        <div id="task-container" class="ms-3 mb-2">
                            {% for task in tasklist.tasks %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" onclick="toggle_task(this)" data-uuid="{{ task.uuid }}" value="" id="task-id-{{ task.uuid }}" {% if task.complete %}checked{% endif %}>
                                    <label class="form-check-label {% if not task.complete and task.is_overdue() %}text-danger{% endif %}" for="task-id-{{ task.uuid }}">
                                        <span class="text-muted">{{ task.deadline.strftime('%-d/%-m') }}</span> - {{ task.title }}
                                    </label>
                                </div>
                            {% endfor %}
                            <a class="text-success" href="{{ url_for('add_task', uuid=tasklist.uuid) }}">Add task</a>
                        </div>

                    {% endfor %}
                    <a class="text-success" href="{{ url_for('add_tasklist', uuid=engagement.uuid) }}">Add tasklist</a>

                </div>
                <div class="card-footer">
                    {% if engagement.category == "archived" %}
                        <a class="btn btn-success" data-uuid="{{ engagement.uuid }}" onclick="archive_engagement(this, '')">Un-archive</a>
                    {% else %}
                        <a class="btn btn-warning" data-uuid="{{ engagement.uuid }}" onclick="archive_engagement(this)">Archive</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}